body {
    font-family: 'PT Mono', monospace;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.category-icon {
    height: 176px;
}

.form-flag {
    width: 488px !important;
    margin: 10px auto;
}

.submit-flag {
    width: 80px !important;
}

.input-flag {
    width: 400px !important;
}

.custom-error {
    font-size: 80%;
    color: #ff3c5c;
}

.positive-feedback {
    color: #d4edda !important;
}

.list-group-item {
   border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.with-icon {
    padding-left: 12px !important;
}